body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, "Liberation Sans", "Microsoft Yahei", "PingFang SC", "Noto Sans CJK SC", "Wenquanyi Micro Hei", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    font-size: 18px;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    color: lightskyblue;
}

body header {
    background-image: url("/images/header/jacalyn-beales-KDg6MX6Wszs-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 100%;
    margin-bottom: 1em;
    position: relative;
}

body header #overlay {
    background-color: transparent;
    background-image: linear-gradient(180deg, #7148484d 16%, #9a727200 36%);
    opacity: .46;
    position: absolute;
    height: 100%;
    width: 100%;
}

body header #content {
    position: relative;
    overflow: hidden;
    width: 1024px;
    margin: auto;
}

body header h1 {
    font-size: 2.2em;
    margin-top: 1.2em;
}

body header h1 a {
    color: #fffd;
}

body header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    position: relative;
    top: 12px;
    float: right;
}

body header ul li {
    margin-left: 1em;
}

body header ul li a {
    color: rgba(255, 255, 255, .9);
}

body header p {
    color: rgba(255, 255, 255, .9);
}

@media only screen and (max-width: 1056px) {

    /* 1056 = 1024 + 32 (padding left+righ) */
    body header #content {
        width: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media only screen and (max-width: 800px) {

    /* 800 = 1024 * 75% + 32 (padding left+righ) */
    body header {
        height: 260px;
    }

    body header h1 {
        font-size: 1.8em;
    }
}

#container {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

#container>* {
    width: 1024px;
    margin: auto;
}

#container nav {
    border-bottom: solid 3px #c7ebf7;
    padding-bottom: 0.5em;
}

#container nav a {
    color: deeppink;
    text-decoration: none;
}

#container nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#container nav ul li {
    margin-left: 1em;
}

#container nav ul li a.active {
    border-bottom: 0.5em solid #c7ebf7;
}

#container main {
    flex: 1 0 0;
    line-height: 1.5;
}

/* #container main h1 {
    font-size: 1.8em;
} */

@media only screen and (max-width: 1056px) {

    /* 1056 = 1024 + 32 (padding left+righ) */
    #container>* {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {

    /* 800 = 1024 * 75% + 32 (padding left+righ) */
    #container main {
        font-size: .9em;
    }
}

#container main section#home a {
    color: hotpink;
}

#container main section#list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container main section#list ul li {
    padding: 0.5em 0;
    border-bottom: 1px solid #cecece;
}

/* #container main section#list ul li:nth-child(odd) {
    background-color: #efefef;
} */

#container main section#list ul li time,
#container main section#list ul li span.count {
    float: right;
}

#container main section#list ul li:last-child {
    border-bottom: none;
}

#container main section#list a {
    color: hotpink;
}

#container main section.post-nav ul {
    margin: 0.5em 0;
    padding: 0.5em 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f7f7f7;
    font-size: 0.9em;
}

#container main section.post-nav ul li:last-child {
    text-align: right;
}

#container main section.post-nav a {
    color: #666;
}

#container main article {
    overflow: hidden;
}

#container main article>pre {
    background-color: #eef7d2;
    overflow-x: auto;
    padding: 0.8em;
    font-size: 0.9em;
}

#container main article .highlight {
    overflow: hidden;
    border-radius: 6px;
}

#container main article .highlight pre {
    overflow-x: auto;
    font-size: 0.9em;
    padding: 0.8em;
    margin: 0;
}

#container main article .highlight pre code[data-lang="text"] {
    white-space: normal;
    word-break: break-word;
}

#container main article pre code {
    font-size: 0.9em;
}

#container main article p code,
#container main article li code {
    padding: 0.1em 0.4em 0.2em;
    border-radius: 6px;
    background-color: #ff88882b;
    font-size: 0.9em;
}

#container main article p kbd {
    display: inline-block;
    padding: 0.2em 0.3em;
    font-size: 0.8em;
    line-height: 1em;
    color: #555555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc #cccccc #bbbbbb;
    border-image: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container main article a {
    color: hotpink;
}

#container footer {
    border-top: solid 1px #c7ebf7;
    padding: 32px 0;
}

#container footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#container footer ul li>span {
    font-size: 0.8em;
    font-weight: bold;
    color: grey;
}

#container footer ul li:first-child {
    margin-right: auto;
}

#container footer ul li:not(:first-child) {
    margin-left: 1em;
}

#container footer ul li a {
    color: #666666;
}

#container footer ul li a.active {
    border-bottom: 0.2em solid #666666;
}

#container footer img.license {
    border-width: 0;
    width: 80px;
    height: auto;
}

#container textarea,
input {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 3px;
    color: #000000;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding: 8px;
    position: relative;
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
    max-width: 100%;
    width: 100%;
}

#container button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #666666;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

#container button:hover {
    border: solid #cecece 2px;
    text-decoration: none;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
    margin: 0.5em 0;
    color: #909090;
    font-size: 0.8em;
}

.meta-aside ul,
#container main section#home ul li aside ul,
#container main article aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.meta-aside ul li,
#container main section#home ul li aside ul li,
#container main article aside ul li {
    margin: 0;
    padding: 0;
}

#container main section#home .featured_image {
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

#container main section#list .featured_image,
#container main article .featured_image {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}

#container main section#home .featured_image img,
#container main section#list .featured_image img,
#container main article .featured_image img {
    display: block;
    filter: saturate(.8) opacity(.8);
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* a {
    color: #666666;
} */

figure {
    margin-left: 8px;
    margin-right: 8px;
    /* background-color: #fff;
    border-radius: 6px; */
}

img {
    border: none;
    width: 100%;
}

figure img {
    display: block;
    max-width: 100%;
    margin: 24px auto;
}

figure.white img {
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .9);
}

figure figcaption {
    padding-bottom: 12px;
}

figure figcaption p {
    display: block;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    margin: 0;
    font-size: .8em;
    font-style: italic;
}

figure.full img {
    width: 100%;
}

figure.wide img {
    width: 75%;
}

figure.mid img {
    width: 50%;
}

table {
    width: 100%;
    border-bottom: solid 1px #cecece;
}

table thead {
    background-color: #cecece;
}

blockquote {
    margin: 1em;
    border-left: solid 0.1em #cecece;
    padding: 0.5em 2em;
    position: relative;
    background-color: #efefef;
}

blockquote::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3em;
    color: rgba(192, 192, 192, 0.3);
    position: absolute;
    left: 16px;
    top: 0;
}

hr {
    height: 1px;
    border-style: none;
    background-color: #999;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media only screen and (max-width: 1056px) {

    /* 1056 = 1024 + 32 (padding left+righ) */
    blockquote {
        margin: 1em 0;
        padding: 0.5em;
    }
}

dl dd {
    font-style: italic;
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0.5em 0;
    list-style: none;
}

ul.pagination li {
    padding: 0 1em;
}

.work-item {
    margin-bottom: 3em;
}

.work-banner {
    position: relative;
}

.work-banner img {
    display: block;
    border: none;
    max-width: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#container main section#home .work-item .work-header h1 {
    font-size: 1.3em;
}

.work-header .status {
    position: relative;
    margin-bottom: 26px;
}

.work-header .status .title {
    display: inline-block;
    font-size: 0.9em;
    font-style: italic;
    color: gray;
    margin-right: 8px
}

.work-header .status .progress {
    display: inline-block;
    color: lightgray;
}

.work-header .status .progress span.checked {
    color: yellowgreen;
}

.work-content .work-entry {
    margin-bottom: 2em;
}

#container main section#home .work-content .work-entry h2 {
    font-size: 1.1em;
}

#container main section#home .work-content .work-entry h2.capital {
    text-transform: uppercase;
}

.work-content .work-entry .work-detail ul>li {
    margin-bottom: 8px;
}

.work-content .work-entry .read-more {
    text-align: right;
    padding-right: 16px;
}

.null-link {
    color: hotpink;
    border-bottom: 1.5px dashed hotpink;
}

ul.card,
ol.card {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul.card>li,
ol.card>li {
    display: block;
    margin: 0 24px 16px 0;
    min-width: 300px;
    flex-basis: min-content;
    flex-grow: 1;
    overflow-wrap: anywhere;
}

ul.card.wide>li,
ol.card.wide>li {
    min-width: 360px;
}

ul.card>li .card-title h3,
ol.card>li .card-title h3  {
    font-size: 1.1em;
    margin: 0.2em 0;
}

/* adjust the figure/image width */
/* 1056 = 1024 + 32 (padding left+righ) */
/* 800 = 1024 * 75% + 32 (padding left+righ) */
@media only screen and (max-width: 800px) {
    figure.wide img {
        width: 100%;
    }

    figure.mid img {
        width: 75%;
    }

    .work-banner img {
        width: 100%;
    }
}