body {
    color: #c8adb5;
    background: #2A2829;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    color: rosybrown;
}

/* body header #overlay {
    background-color: #332121;
} */

body header h1 a {
    color: rosybrown;
}

body header p {
    color: rosybrown;
}

body header ul li a {
    color: rosybrown;
}

#container nav {
    border-bottom-color: #886767;
}

#container nav a {
    color: rosybrown;
}

#container nav ul li a.active {
    border-bottom-color: rosybrown;
}

/* #container main section#home span {
    color: #666666;
} */

#container main section#home a {
    color: #bd6f85;
}

#container main section#list ul li {
    border-bottom-color: #715151;
}

#container main section#list a {
    color: #bd6f85;
}

#container main section.post-nav ul {
    border-top-color: #714c4c;
}

#container main article a {
    color: #d55494;
}

#container main article>pre {
    background-color: #443b39;
}

#container main article .highlight pre {
    color: #e3dcd4 !important;
    background-color: #191a17 !important;
}

#container main article p code,
#container main article li code {
    background-color: #f28fb13b;
}

#container main article p kbd {
    color: #555555;
    background-color: #fcfcfc;
    border-color: #cccccc #cccccc #bbbbbb;
    box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container footer {
    border-top-color: #886767;
}

#container footer ul li a {
    /* border-bottom-color: #ffffff; */
    color: #bd6f85;
}

#container textarea,
input {
    background-color: #fff;
    border-color: #cecece;
    color: #000000;
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
}

#container button {
    border-color: #d3d6db;
    color: #666666;
}

#container button:hover {
    border-color: #cecece;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
    color: #909090;
}

/* #container main article h1 {
    color: #bf879f;
} */

#container main section.post-nav a {
    color: #db98ab;
}

figure figcaption p {
    color: inherit;
}

table {
    border-bottom-color: #cecece;
}

table thead {
    background-color: #cecece;
}

blockquote {
    border-left-color: #715b54;
    background-color: #3e3b3c;
}

blockquote::before {
    color: rgba(213, 186, 186, 0.1);
}

.work-content .work-entry .work-detail .null-link {
    color: #bd6f85;
    border-bottom: 1.5px dashed #bd6f85;
}


ul.card>li .card-book .background {
    background-color: #666;
}

ul.card>li .card-book .frame {
    background-color: #666;
}

ul.card>li .card-book .frame .name {
    border: 1px solid rgba(255,255,255,.8);
    filter: brightness(.9);
}

ul.card>li .card-book .frame .date {
    color: rgba(255,255,255,.5);
}