body {
    color: #bdc5c6;
    background: #2E3139;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    color: #a1bcbd;
}

body header h1 a {
    color: #889e9f;
}

body header p {
    color: #889e9f;
}

body header ul li a {
    color: #889e9f;
}

#container nav {
    border-bottom-color: #6d8384;
}

#container nav a {
    color: #889e9f;
}

#container nav ul li a.active {
    /* border-bottom-color: #6d8384; */
    background-color: #889e9f;
    color: #2E3139;
}

a {
    color: #62a3a6;
}

#container main section#list ul li {
    border-bottom-color: #6d8384;
}

/* #container main section#list a {
    color: #62a3a6;
} */

#container main section.post-nav ul {
    border-top-color: #62a3a6;
}

/* for code blocks which start with 4-space or tab */
#container main article>pre {
    color: #e6edf3;
    background-color: #0d1117;
}

/* inline code */
#container main article p code,
#container main article li code {
    background-color: #44788c;
}

#container main article p kbd {
    color: #555555;
    background-color: #fcfcfc;
    border-color: #cccccc #cccccc #bbbbbb;
    box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container footer {
    border-top-color: #6d8384;
}

#container textarea,
input {
    background-color: #fff;
    border-color: #cecece;
    color: #000000;
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
}

#container button {
    border-color: #d3d6db;
    color: #666666;
}

#container button:hover {
    border-color: #cecece;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
    color: #889e9f;
}

figure figcaption p {
    color: inherit;
}

table {
    border-bottom-color: #cecece;
}

table thead {
    background-color: #cecece;
}

blockquote {
    border-left-color: #151d2238;
    background-color: #575a5e;
}

blockquote::before {
    color: #151d2238;
}

.null-link {
    color: #62a3a6;
    border-bottom-color: #62a3a6;
}

ul.card>li .card-book .frame .name h3 {
    filter: grayscale(.1) brightness(.9);
}

ul.card>li .card-book .frame .name .separator {
    background-color: #62a3a6;
}

ul.card>li .card-book .frame .name .catalog {
    color: rgba(255,255,255,.5);
}

ul.card>li .card-book .frame .date {
    color: rgba(255,255,255,.5);
}