body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, "Liberation Sans", "Microsoft Yahei", "PingFang SC", "Noto Sans CJK SC", "Wenquanyi Micro Hei", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    font-size: 18px;
    color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
time {
    color: lightskyblue;
}

body header {
    min-height: 120px;
    width: 100%;
    /* margin-bottom: 1em; */
    position: relative;
}

body header #content {
    position: relative;
    overflow: hidden;
    width: 1024px;
    margin: auto;
}

body header h1 {
    font-size: 1.6em;
    margin-top: 1em;
    margin-bottom: 12px;
}

body header h1 a {
    color: lightskyblue;
}

body header ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    position: relative;
    top: 12px;
    float: right;
}

body header ul li {
    margin-left: 1em;
}

body header ul li a {
    color: lightpink;
}

body header p {
    margin-top: 0;
    color: lightskyblue;
}

@media only screen and (max-width: 1056px) {

    /* 1056 = 1024 + 32 (padding left+righ) */
    body header #content {
        width: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media only screen and (max-width: 800px) {

    /* 800 = 1024 * 75% + 32 (padding left+righ) */

    body header h1 {
        font-size: 1.4em;
    }
}

#container {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

#container>* {
    width: 1024px;
    margin: auto;
}

#container nav {
    border-bottom: solid 3px #c7ebf7;
}

#container nav a {
    color: deeppink;
    text-decoration: none;
}

#container nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#container nav ul li {
    /* margin: 0 0 8px 8px; */
    margin-bottom: 12px;
}

#container nav ul li a {
    padding: 3px 10px;
    border-radius: 4px;
}

#container nav ul li a.active {
    /* border-bottom: 0.5em solid #c7ebf7; */
    background-color: hotpink;
    color: white;
}

#container main {
    flex: 1 0 0;
    line-height: 1.5;
    margin-bottom: 32px;
}

@media only screen and (max-width: 1056px) {

    /* 1056 = 1024 + 32 (padding left+righ) */
    #container>* {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {

    /* 800 = 1024 * 75% + 32 (padding left+righ) */
    #container main {
        font-size: .9em;
    }
}

a {
    color: hotpink;
}

#container main section#list ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#container main section#list ul li {
    padding: 0.5em 0;
    border-bottom: 1px dashed #c7ebf7;
}

#container main section#list ul li time,
#container main section#list ul li span.count {
    float: right;
}

#container main section#list ul li:last-child {
    border-bottom: none;
}

#container main section.post-nav ul {
    margin: 0.5em 0;
    padding: 0.5em 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c7ebf7;
    font-size: 0.9em;
}

#container main section.post-nav ul li:last-child {
    text-align: right;
}

#container main article {
    overflow: hidden;
}

/* highlight code block */
#container main article .highlight {
    overflow: hidden;
    border-radius: 6px;
}

#container main article .highlight pre {
    overflow-x: auto;
    font-size: 0.9em;
    padding: 0.8em;
    margin: 0;
}

/* bug fix */
#container main article .highlight pre code[data-lang="text"] {
    white-space: normal;
    word-break: break-word;
}

/* for code blocks which start with 4-space or tab */
#container main article > pre  {
    color: #575279;
    background-color: #faf4ed;
    overflow-x: auto;
    font-size: 0.9em;
    padding: 0.8em;
    margin: 0;
    white-space: normal;
    word-break: break-word;
}

/* inline code */
#container main article p code,
#container main article li code {
    padding: 0.1em 0.4em 0.2em;
    border-radius: 6px;
    background-color: #fff1ea;
    font-size: 0.9em;
}

#container main article p kbd {
    display: inline-block;
    padding: 0.2em 0.3em;
    font-size: 0.8em;
    line-height: 1em;
    color: #555555;
    vertical-align: middle;
    background-color: #fcfcfc;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc #cccccc #bbbbbb;
    border-image: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 #bbbbbb inset;
}

#container footer {
    border-top: solid 5px #c7ebf7;
    padding: 32px 0;
}

#container footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#container footer ul li>span {
    font-size: 0.8em;
    font-weight: bold;
}

#container footer ul li:first-child {
    margin-right: auto;
}

#container footer ul li:not(:first-child) {
    margin-left: 1em;
}

#container footer img.license {
    border-width: 0;
    width: 80px;
    height: auto;
}

#container textarea,
input {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 3px;
    color: #000000;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 24px;
    padding: 8px;
    position: relative;
    box-shadow: inset 0 1px 2px rgba(17, 17, 17, 0.1);
    max-width: 100%;
    width: 100%;
}

#container button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #d3d6db;
    border-radius: 3px;
    color: #666666;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

#container button:hover {
    border: solid #cecece 2px;
    text-decoration: none;
}

.meta-aside,
#container main section#home ul li aside,
#container main article aside {
    margin: 0.5em 0;
    color: #909090;
    font-size: 0.8em;
}

.meta-aside ul,
#container main section#home ul li aside ul,
#container main article aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.meta-aside ul li,
#container main section#home ul li aside ul li,
#container main article aside ul li {
    margin: 0;
    padding: 0;
}

#container main section#home .featured_image {
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
}

#container main section#list .featured_image,
#container main article .featured_image {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}

#container main section#home .featured_image img,
#container main section#list .featured_image img,
#container main article .featured_image img {
    display: block;
    filter: saturate(.8) opacity(.8);
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figure {
    margin-left: 8px;
    margin-right: 8px;
}

img {
    border: none;
    width: 100%;
}

figure img {
    display: block;
    max-width: 100%;
    margin: 24px auto;
}

figure.white img {
    padding: 6px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .9);
}

figure figcaption {
    padding-bottom: 12px;
}

figure figcaption p {
    display: block;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    margin: 0;
    font-size: .8em;
    font-style: italic;
}

figure.full img {
    width: 100%;
}

figure.wide img {
    width: 75%;
}

figure.mid img {
    width: 50%;
}

table {
    min-width: 25%;
    border: 1px solid #ccc;
    border-radius: 12px;
    overflow: hidden;
    border-spacing: 0;
}

table thead {
    background-color: #eee;
}

table thead tr th {
    padding: 8px;
    font-weight: 500;
}

table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

table tbody tr td {
    padding: 8px;
}

blockquote {
    margin: 1em;
    border-left: solid 0.5em #9acd322e;
    padding: 0.5em 2em;
    position: relative;
    background-color: #f6fdf3;
}

blockquote::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 3em;
    color: #9acd322e;
    position: absolute;
    left: 16px;
    top: 0;
}

blockquote > p {
    position: relative;
}

hr {
    height: 1px;
    border-style: none;
    background-color: #999;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media only screen and (max-width: 1056px) {

    /* 1056 = 1024 + 32 (padding left+righ) */
    blockquote {
        margin: 1em 0;
        padding: 0.5em;
    }
}

dl dd {
    font-style: italic;
}

ul.pagination {
    display: flex;
    justify-content: center;
    margin: 1em 0 0;
    padding: 0.5em 0;
    list-style: none;
}

ul.pagination li {
    padding: 0 1em;
}

.work-item {
    margin-bottom: 3em;
}

.work-banner {
    position: relative;
}

.work-banner img {
    display: block;
    border: none;
    max-width: 100%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#container main section#home .work-item:first-child .work-banner {
    margin-top: 2em;
}

.work-content .work-entry {
    margin-bottom: 2em;
}

h1.capital,
h2.capital,
h3.capital {
    text-transform: uppercase;
}



ul.card {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.card>li {
    display: block;
    margin: 0 16px 32px 16px;
    min-width: 300px;
    flex-basis: min-content;
    flex-grow: 1;
    overflow-wrap: anywhere;

    /* max-width: 480px; */

    /* this is a deprecated value, but it can fix the align issue on flex cell */
    word-break: break-word;
}

ul.card>li .card_cover {
    height: 160px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

ul.card>li .card_cover img {
    object-fit: contain;
    object-position: bottom;
    display: block;
    height: 100%;
}

ul.card>li .card-title h3  {
    margin: 0.2em 0;
}

ul.card>li .card-title.center {
    text-align: center;
}

ul.card>li .card-content ul {
    padding-left: 16px;
    /* margin-left: -16px; */
}

ul.card>li .card-book {
    position: relative;
    margin-bottom: 16px;
}

ul.card>li .card-book .frame .name {
    border-radius: 6px;
    background-color: #f783ac;
    overflow: hidden;
}

ul.card>li .card-book .frame .name h3 {
    padding: 4px 8px 8px;
    font-size: 1em;
    overflow-wrap: break-word;
    margin: 0;
    filter: grayscale(.2) brightness(1.1);
}

ul.card>li .card-book .frame .name h3 a {
    color: white;
    /* text-decoration: none; */
    /* padding: 2px 0;
    line-height: 1.7em; */
}

ul.card>li .card-book .frame .separator {
    display: block;
    height: 1px;
    background-color: lightskyblue;
    margin: 8px 0;
}

ul.card>li .card-book .frame .subheading {
    font-size: .8em;
    font-style: italic;
    color: rgba(0, 0, 0, .5);
}

ul.card>li .card-book .frame .date {
    font-size: .7em;
    /* margin-left: 16px; */
    color: rgba(0, 0, 0, .5);
}

ul.card>li .card-book.video .frame .name {
    background-image: url("/images/movie-bg.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

ul.card>li .card-book.video .frame .name h3 {
    padding: 32px 12px 36px;
}

/* book color alt 1 */
ul.card>li .card-book.c1 .frame .name {
    background-color: #f783ac;
}

/* book color alt 2 */
ul.card>li .card-book.c2 .frame .name {
    background-color: #ff8787;
}

/* book color alt 3 */
ul.card>li .card-book.c3 .frame .name {
    background-color: #ffa94d;
}

/* book color alt 4 */
ul.card>li .card-book.c4 .frame .name {
    background-color: #38d9a9;
}

/* book color alt 5 */
ul.card>li .card-book.c5 .frame .name {
    background-color: #3bc9db;
}

/* book color alt 6 */
ul.card>li .card-book.c6 .frame .name {
    background-color: #4dabf7;
}

/* book color alt 7 */
ul.card>li .card-book.c7 .frame .name {
    background-color: #9775fa;
}

/* adjust the figure/image width */
/* 1056 = 1024 + 32 (padding left+righ) */
/* 800 = 1024 * 75% + 32 (padding left+righ) */
@media only screen and (max-width: 800px) {
    figure.wide img {
        width: 100%;
    }

    figure.mid img {
        width: 75%;
    }

    .work-banner img {
        width: 100%;
    }
}

.gallery .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery .items .item figure{
    flex-grow: 1;
}

.gallery .items .item figure img {
    max-width: 100%;
}

.gallery .caption {
  color: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: .9em;
  font-style: italic;
}

.gallery.cols-2 .items .item {
    width: 25%;
}

.gallery.cols-3 .items .item {
    width: 33%;
}

.gallery.cols-4 .items .item {
    width: 25%;
}

/* adjust the gallery item width */
@media only screen and (max-width: 800px) {
    .gallery.cols-2 .items .item,
    .gallery.cols-3 .items .item,
    .gallery.cols-4 .items .item {
        width: 50%;
    }
}