body {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, "Liberation Sans", "Microsoft Yahei", "PingFang SC", "Noto Sans CJK SC", "Wenquanyi Micro Hei", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
    padding-left: 1.2em;
    padding-right: 1.2em;
}

#container>* {
    width: 900px;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    #container>* {
        width: 100%;
    }
}

#container footer h6 img {
    border-width: 0;
    width: auto;
    height: auto;
}

.block-image {
    width: auto;
    box-shadow: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-200px {
    max-width: 200px;
}

#container header h1 a {
    color: #fb7dc1;
}

#container nav a {
    color: deeppink;
}

#container nav ul li a.active {
    border-bottom-color: #c7ebf7;
}

#container nav {
    border-bottom-color: #c7ebf7;
}

#container main article h1,
#container main section h1 {
    color: #666
}

#container main article h2,
#container main section h2 {
    color: #666;
}


#container main section a,
#container main article a {
    color: deeppink;
}

#container main section .featured_image,
#container main article .featured_image {
    width: 100%;
    height: 320px;
    overflow: hidden;
    position: relative;
}

#container main section .featured_image img,
#container main article .featured_image img {
    display: block;
    position: absolute;
    filter: saturate(.8) opacity(.8);
    transform: translateY(-50%);
    top: 50%;
}